@charset "utf-8";

@font-face {
    font-family: 'Marlin Geo Slant';
    src: url('../font/MarlinGeoSlant-Medium.eot');
    src: local('../font/Marlin Geo Slant Medium'), local('MarlinGeoSlant-Medium'),
        url('../font/MarlinGeoSlant-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/MarlinGeoSlant-Medium.woff2') format('woff2'),
        url('../font/MarlinGeoSlant-Medium.woff') format('woff'),
        url('../font/MarlinGeoSlant-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Marlin Geo';
    src: url('../font/MarlinGeo-Medium.eot');
    src: local('../font/Marlin Geo Medium'), local('MarlinGeo-Medium'),
        url('../font/MarlinGeo-Medium.eot?#iefix') format('embedded-opentype'),
        url('../font/MarlinGeo-Medium.woff2') format('woff2'),
        url('../font/MarlinGeo-Medium.woff') format('woff'),
        url('../font/MarlinGeo-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4 ,h5, h6 {
    font-size: inherit;
    font-weight: normal;
}
button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}
.logo-header {
    position: absolute;
    /* top: 40%; */    
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
}
.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-family: 'Marlin Geo';
    font-size: 280px;
    font-weight: 500;
}
.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}